.navbar
{
    font-weight: 500;
    padding: 0.85rem 2rem ;
}


.navbar ul li
{
    padding: 0.85rem 2rem;
    margin:0 0.85rem ;
    border-radius: 0.5rem;
}

.navbar ul li:hover
{
    background-color: var(--color-dark-700);
}
