

.inputs_wrapper .user_inputs
{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}
.user_button
{
  padding: 0 1rem ;
  display: grid;
  display: flex;
  justify-content: flex-end;
}

.links_container
{
    padding: 1rem 0;
}



