
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root
{

}

.wrapper
{
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
}

.inner_container
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 85vh;
  max-height: 85vh;
  margin: 2rem 0;
  gap: 2rem;
}

.actions_container
{
  border: 1px solid  var(--color-dark-700);
  padding: 1rem;
}

.results_container
{
  padding: 1rem;
}
